<h1>Edit <%= @item.name%></h1>
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <strong><%= error %></strong>
    <br>
  <% end %>
<% end %>
<br>
<%= form_with url: "/items/#{@item.id}", method: :patch, local: true do |f| %>
  <strong><%= f.label :name, "Name:" %></strong>
  <%= f.text_field :name, value: @item.name %>
  <br><br>

  <strong><%= f.label :description,"Description:" %></strong>
  <%= f.text_field :description, value: @item.description %>
  <br><br>

  <strong><%= f.label :unit_price, "Unit Price: $" %></strong>
  <%= f.number_field :unit_price, value: @item.unit_price %>

  <%= f.submit "Update Item" %>
<% end %>
