<h1>Item Index</h1>

<%= button_to "Create New Item", "/items/new", method: :get, local: true%>
<br>

<ul>
  <% @items.each do |item| %>
    <div id=<%= item.id %>>
      <li><%= link_to item.name, "/items/#{item.id}", method: :get, local: true%></li>

      <p><strong>Description: </strong><%= item.description %></p>

      <p><strong>Unit Price: </strong><%= item.unit_price %></p>
    </div>
  <% end %>
</ul>
